@{
  Layout = "_Layout";
}


<div class="container">
  @* <h1>The word @Model.GetWord() appears @Model.GetWord().Count times in your sentence.</h1> *@
  <h2> The word appears @Model times in your sentence.</h2>

  <button type='submit' class='btn'><a href="/">Play again</a></button>
<br>
</div>
