@{
  Layout = "_Layout";
}


<div class="container">
  <h3>Enter a sentence and a word below. This app will count how many times that word appears in the sentence.</h3>

  <form action="/CountPage" method="post">

    <div class='form-group'>
      <label for='sentence'>Sentence</label>
      <input id='sentence' name='sentence' class='form-control' type='text'>
    </div>

    <div class='form-group'>
      <label for='word'>Word</label>
      <input id='word' name='word' class='form-control' type='text'>
    </div>

    <button type='submit' class='btn'>Check!</button>

  </form>
  <br>

  @* <button type='submit' class='btn'><a href="/">View Address Book</a></button> *@
</div>
